.input{
    width: 25%;
    margin:  1% 1%;
    padding: 0.5%;
    border-radius: 5%;
    border-color: rgb(212, 212, 170);
    background-color: rgb(229, 228, 227);
}
.btn{
    padding: 0.5%;
    border-radius: 5%;
    background-color: black;
    color: white;
}
.submit{
    padding: 0.5%;
    border-radius: 5%;
    border-color: rgb(212, 212, 170);
}